<div class="container mt-3">
    <form [formGroup]="searchForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" id="search" formControlName="search"/>
                </div>
            </div>
            <div class="col-md-3 mt-4">
              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="showAddNewForm()">Add Employee</button>
              </div>
            </div>
        </div>
    </form>

    <form *ngIf="isAddNewMode" [formGroup]="newEmployeeForm" class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="newEmployeeName">Name:</label>
            <input
              type="text"
              class="form-control"
              id="newEmployeeName"
              formControlName="name"
              [ngClass]="{ 'is-invalid': newEmployeeName?.invalid && (newEmployeeName?.dirty || newEmployeeName?.touched) }"/>
            <div class="invalid-feedback" *ngIf="newEmployeeName?.invalid && (newEmployeeName?.dirty || newEmployeeName?.touched)">
              Name is required.
            </div>
          </div>
      
          <div class="form-group">
            <label for="newEmployeePosition">Position:</label>
            <input
              type="text"
              class="form-control"
              id="newEmployeePosition"
              formControlName="position"
              [ngClass]="{ 'is-invalid': newEmployeePosition?.invalid && (newEmployeePosition?.dirty || newEmployeePosition?.touched) }"/>
            <div class="invalid-feedback" *ngIf="newEmployeePosition?.invalid && (newEmployeePosition?.dirty || newEmployeePosition?.touched)">
              Position is required.
            </div>
          </div>
      
          <div class="form-group">
            <label for="newEmployeeSalary">Salary:</label>
            <input
              type="number"
              class="form-control"
              id="newEmployeeSalary"
              formControlName="salary"
              [ngClass]="{ 'is-invalid': newEmployeeSalary?.invalid && (newEmployeeSalary?.dirty || newEmployeeSalary?.touched) }"
            />
            <div class="invalid-feedback" *ngIf="newEmployeeSalary?.invalid && (newEmployeeSalary?.dirty || newEmployeeSalary?.touched)">
              Salary is required and must be greater than 0.
            </div>
          </div> 
          <div class="form-group mt-3">
            <button type="button" class="btn btn-success mr-3" (click)="addEmployee()">Save</button>
            <button type="button" class="btn btn-danger" (click)="hideAddNewForm()">No</button>
          </div>
        </div>
      </div>
    </form>

    <table class="table mt-3 employees-table">
      <thead>
        <tr>
          <th (click)="sortTable('id')">ID <i *ngIf="sortedColumn === 'id'" [class]="sortDirection"></i></th>
          <th (click)="sortTable('name')">Name <i *ngIf="sortedColumn === 'name'" [class]="sortDirection"></i></th>
          <th (click)="sortTable('position')">Position <i *ngIf="sortedColumn === 'position'" [class]="sortDirection"></i></th>
          <th (click)="sortTable('salary')">Salary <i *ngIf="sortedColumn === 'salary'" [class]="sortDirection"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employees let i = index">
            <tr (click)="goToDetails(employee?.id)" style="cursor: pointer !important" (mouseover)="showActions(i)" (mouseleave)="hideActions()">
            <td>{{ employee.id }}</td>
            <ng-container *ngIf="editingIndex !== i; else editMode">
                <td>{{ employee.name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.salary | currency }}</td>
            </ng-container>
            <ng-template #editMode>
                <td><input class="form-control" [(ngModel)]="employee.name" (click)="$event.stopPropagation()"/></td>
                <td><input class="form-control" [(ngModel)]="employee.position" (click)="$event.stopPropagation()"/></td>
                <td><input class="form-control" [(ngModel)]="employee.salary" (click)="$event.stopPropagation()"/></td>
            </ng-template>
            <td>
                <ng-container *ngIf="isActionsVisible && !isEditMode && currentIndex === i">
                  <a (click)="enableEditMode(i); $event.stopPropagation();"><i class="edit-employee-icon fa fa-edit" style="color: #c0ca33;"></i></a>
                  <a (click)="deleteEmployee(i); $event.stopPropagation();"><i class="edit-employee-icon fa fa-trash" style="color: #e53935;"></i></a>
                </ng-container>
                <ng-container *ngIf="isEditMode && currentIndex === i">
                  <a (click)="editEmployee(i); $event.stopPropagation();"><i class="edit-employee-icon fa fa-check" style="color: #1de9b6"></i></a>
                  <a (click)="disableEditMode(); $event.stopPropagation();"><i class="edit-employee-icon fa fa-remove"></i></a>
                </ng-container>
            </td>
            </tr>
        </ng-container>
      </tbody>
    </table>
  </div>