.employees-table td:last-child,
.employees-table th:last-child {
    border: none;
    width: 200px;
}

.edit-employee-icon {
    margin: 0px 5px;
    font-size: 22px;
}

.mr-3 {
    margin-right: 1rem !important;
}

i {
    margin-left: 4px;
}

.asc::before {
    content: "\25B2"; 
}

.desc::before {
    content: "\25BC";
}

.fa-edit{
    color: #c0ca33;
}

.fa-trash{
    color: #e53935; 
}

.fa-check{
    color: #1de9b6
}